<%- include("layout/header") %>

<div class="main main-height position-relative">
  <div class="flex-column">
    <img src="/assets/ic-warning.png" class="" alt="profile" />
    <h3 class="fw-600 text-center">
      Oops! Something went wrong. <br />Please try again.
    </h3>
    <div class="my-4">
      <h3 class="my-2 text-center">Here are useful links to get started</h3>
      <a href="/" class="fw-600 text-center my-2 mr-8 btnc btnc-primary-text">
        Home
      </a>
      <% if (message) { %>
      <a href="" class="fw-600 btnc bgc-primary my-2"> My profile </a>
      <% } else {%>
      <a href="/signup" class="fw-600 text-center btnc btnc-secondary my-2">
        Signup
      </a>
      <% } %>
    </div>
  </div>
</div>

<%- include("layout/footer") %>
