<script src="https://kit.fontawesome.com/bc56015a4e.js" crossorigin="anonymous"></script>
<script src="js/main.js" defer></script>
<link rel="stylesheet" href="css/main.css">

<footer style="position: fixed; bottom: 0; width: 100%;">
    <div class="cat-icon">
        <i class="fa-solid fa-cat"></i>
        <a href="#" class="footer-name">Susie</a>
    </div>
    <div>
        Product designer
    </div>
</footer>
</body>