<!DOCTYPE html>
<html lang="en">

<body>
    <%- include('partials/nav.ejs'); -%>
    <%- include('partials/head.ejs', { title: title }); -%>
    <div class="title">
        <h1><%= title %></h1>
    </div>

    <%- include('partials/footer.ejs'); -%>
</body>
</html>