  <!-- EJS for the footer. -->
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"
      integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      document.getElementById('file').onchange = function () {
      var src = URL.createObjectURL(this.files[0])
      document.getElementById('image').src = src}

      document.onload = function () {

        if(users !== null) {
          let CreatedAt = new Date(users.forEach(user => {
            user.createdAt
          })).toDateString()
  
          document.getElementById('createdAt') = CreatedAt
        }
      }
    </script>
  </body>
</html>
