<!-- EJS for the header navbar. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title><%= title %></title>
  </head>
  <body>
    <header class="wrapper shadow-2x">
      <div class="container">
        <div class="flex">
          <div>
            <a href="/" class="navbar-brand text-uppercase font-weight-bold">
              <img src="/assets/Vector.png" class="logo" alt="Postol forum"
            /></a>
          </div>

          <% if (message) { %>
          <div>
            <a
              href="/profile/<%= message.user._id%>"
              class="fw-600 btnc-profile"
              >Hello <%= message.user.fname + " " + message.user.lname %></a
            >
            <a href="/logout"
              ><i class="fa fa-sign-out" aria-hidden="true"></i
            ></a>
          </div>
          <% } else {%>
          <div>
            <a href="/signup" class="btn-getStarted">Get started</a>
          </div>
          <% } %>
        </div>
      </div>
    </header>
  </body>
</html>
